#quit-room-btn {
    padding: 10px 25px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    margin: 10px;
}

#room-name {
    padding: 15px;
}

#game-container {
    width: 35vw;
    height: 50vh;
    border: 1px solid var(--main-button-border-color);
    margin: 25px;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#commentator-container {
    margin: 25px;
    background-color: black;
    width: 450px;
    height: 50vh;
}

#commentator-output-field {
    width: 100%;
    color: green !important;
    height: 100%;
    overflow-y: scroll;
}

.typed-text {
    color: green !important;
    font-size: 18px;
}

#ready-btn {
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    height: 100px;
    width: 200px;
    font-size: large;
    font-weight: bold;
}

#timer {
    font-size: xx-large;
    font-weight: bold;
}

#text-container {
    font-size: large;
}

#game-timer {
    position: absolute;
    bottom: 15px
}

.user-header {
    display: flex;
    margin: 5px 0px;
}

.user {
    margin: 25px;
    width: 100%
}

.username {
    margin-left: 20px;
}

.user-progress-template {
    width: 100%;
    border: 1px solid var(--main-button-border-color);
    height: 25px;
}

.user-progress {
    height: 100%;
    background-color: green;
}

.typped {
    background-color: green;
}

.nextType {
    text-decoration: green solid underline;
    width: 100%;
}

.finished {
    background-color: greenyellow !important;
}
